{% extends 'default.html' %}

{% block title %}
  {{ ad.title }}
{% endblock title %}

{% block content %}
  {{ ad.title }}
  {{ ad.author }}
  {{ ad.content }}
  {{ ad.category }}
  <hr>
  <h2>Offers</h2>
  {% for offer in offers %}
    <p>{{ offer.text }}</p>
    <p>{{ offer.user }}</p>
  {% endfor %}
  <hr>
  <form action="{% url 'ad_detail' object.id %}" method="post">
    {% csrf_token %}
    {{ form.user.as_hidden }}
    {{ form.ad.as_hidden }}
    {{ form.text }}
    <button type="submit">Submit</button>
  </form>
{% endblock content %}