{% extends 'default.html' %}

{% block title %}
  {{ ad.title }}
{% endblock title %}

{% block content %}
  <h2>{{ ad.title }}</h2>
  <h3>by {{ ad.author }} at {{ ad.posted }}</h3>
  <p class="ad-detail__category">Category: {{ ad.get_category_display }}</p>
  <p class="ad-detail__content">{{ ad.content }}</p>
  <div class="ad-detail__media">
    {% if ad.image1 %}
      <a href="{{ ad.image1.url }}"><img src="{{ ad.image1.url }}" alt="{{ ad.image.url }}"></a>
    {% endif %}
    {% if ad.image2 %}
      <a href="{{ ad.image2.url }}"><img src="{{ ad.image2.url }}" alt="{{ ad.image.url }}"></a>
    {% endif %}
    {% if ad.image3 %}
      <a href="{{ ad.image3.url }}"><img src="{{ ad.image3.url }}" alt="{{ ad.image.url }}"></a>
    {% endif %}
    {% if ad.video %}
      <video controls>
        <source src="{{ ad.video.url }}" type="video/mp4">
        <source src="{{ ad.video.url }}" type="video/webm">
        Sorry, your browser doesn't support embedded videos.
      </video>
    {% endif %}
  </div>
  <form class="ad-detail__offer-form" action="{% url 'ad_detail' object.id %}" method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Submit</button>
  </form>
{% endblock content %}