{% extends 'default.html' %}

{% load static %}

{% block title %}
  Ads
{% endblock title %}

{% block content %}
  <div class="main__ads-wrapper">
    {% for ad in ads %}
      <div class="card">
        <h2>{{ ad.title }}</h2>
        <p>{{ ad.content }}</p>
        <p>{{ ad.posted }}</p>
        <a href="{% url 'ad_detail' ad.id %}">View</a>
        {% if not ad.author == request.user %}
          <a href="{% url 'ad_edit' ad.id %}">Edit</a>
          <a href="{% url 'ad_delete' ad.id %}">Delete</a>
        {% endif %}
      </div>
    {% empty %}
      <h2>No ads!</h2>
    {% endfor %}
    <!-- <a href="{% url 'ad_create' %}">Post an ad</a> -->
  </div>
{% endblock content %}