{% extends 'default.html' %}
{% load static %}

{% block title %}
  Offers
{% endblock title %}

{% block content %}
  <form method="GET" class="offers__search-form">
    {{ filter.form }}
    <input type="submit" value="Search">
  </form>
  <ul class="offers__offer-list">
    {% for offer in filter.qs %}
      <li {% if offer.is_accepted %}style="background-color:lightgreen;"{% endif %}>
        <div class="offers__offer-list_textblock">
          <p class="offers__offer-list_text"><span>{{ offer.user }}</span>: {{ offer.text }}</p>
          <a class="offers__offer-list_link" href="{{ offer.ad.get_absolute_url }}">@{{offer.ad.title | truncatechars:50 }}</a>
        </div>
        <a href="{% url 'offer_accept' offer.pk %}">
          {% if not offer.is_accepted %}
            <img src="{% static 'img/accept.png' %}" alt="Accept" class="offers__offer-list_accept-button" width=15 height=15>
          {% else %}
            <img src="{% static 'img/discard.png' %}" alt="Discard" class="offers__offer-list_accept-button" width=15 height=15>
          {% endif %}
        </a>
        <form action="{% url 'offer_delete' offer.pk %}" method="post">
          {% csrf_token %}
          <input type="image" alt="Delete" src="{% static 'img/delete.png' %}" class="offers__offer-list_delete-button" width=15 height=15>
        </form>
      </li>
    {% endfor %}
  </ul>
{% endblock content %}