{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/generic.css' %}">
  <link rel="stylesheet" href="{% static 'css/billboard.css' %}">
  <title>Billboard — {% block title %}{% endblock title %}</title>
</head>
<body>
  <aside>
    <ul>
      <li><a href="/">All ads ({{ all_ads | length }})</a></li>
      <li><a href="">My ads ({{ user_ads | length }})</a></li>
      <li><a href="{% url 'offers' %}">My offers ({{ user_offers | length }})</a></li>
      <li><a href="{% url 'user_detail' %}">My profile ({{ request.user.username }})</a></li>
      <li><a href="{% url 'account_logout' %}">Logout</a></li>
    </ul>
  </aside>
  <main>
    <h1>BILLBOARD</h1>
    <hr>
    {% block content %}
    {% endblock content %}
  </main>
</body>
</html>